{% load static %}
<html>
    <head>
        <title>ADD FRIEND - JOHANESSTEVEN</title>
         <meta name="viewport" content="width=device-width", initial-scale=1">
         <link rel="stylesheet" href="{%static 'webstory44/styles.css'%}">
    </head>
    <body>
        
        <backhome><a href="index.html"><button class="button2"><span>Back to Home </span></button></a></backhome>
        <messagetitle><b>DONE VISITING?</b></messagetitle>
        <messagebody>Leave your legacy to be displayed.</messagebody>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <form class="friend-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="FormControlTextarea1">What are your hobbies?</label>
                    {{ form.hobby }}
                </div>
                <div class="form-group">
                    <label for="FormControlTextarea1">What are your favorite foods/drinks?</label>
                    {{ form.fav }}
                </div>
                <div class="form-group">
                    <label for="FormControlTextarea1">What year are you currently in?</label>
                    <ul style="list-style-type: none; color: black;">
                        <li id="year">
                            {{ form.classyear }}
                        </li>
                    </ul>
                </div>
               
                
                 <button type="submit" class="save btn btn-primary">Submit</button>
            </form>
             
        
            
    </body>
</html>