{% load static %}
<html>
    <head>
        <title>CONTACTS - JOHANESSTEVEN</title>
         <meta name="viewport" content="width=device-width", initial-scale=1">
         <link rel="stylesheet" href="{%static 'webstory44/styles.css'%}">
    </head>
    
    <body>
        <contactbg></contactbg>
        <backhome><a href="index.html"><button class="button2"><span>Back to Home </span></button></a></backhome>
        <contacth1>CONTACT</contacth1>
        <contact2>For contact and information purposes.</contact2>
        <fbicon> <a href="https://www.facebook.com/johanes.steven.16"><img src="{%static 'webstory44/fb.png'%}" width="152" height="152"></a></fbicon>
        <gmailicon> <a href="https://mail.google.com/"><img src="{%static 'webstory44/gmail.png'%}" width="190" height="190"></a></gmailicon>
        <discordicon> <a href="https://discordapp.com/"><img src="{%static 'webstory44/discord.png'%}" width="185" height="185"></a></discordicon>
        <contactfb><b>fb: </b> Johanes Steven</contactfb>
        <contactgm><b>gmail: </b> johanessteven19@gmail.com</contactgm> 
        <contactdiscord><b>id: </b> johanessteven19</contactdiscord>
    </body>
    
    
</html>