{% load static %}

<html>
    <head>
        <title>HOME - JOHANESSTEVEN</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True">
        <link rel="stylesheet" href="{%static 'webstory44/styles.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'webstory44/css/bootstrap.min.css'%}">
        <style>
            body, html {
                height: 100%;
                margin: 0;
                font-family: Rubik, Futura, sans-serif;
            } 
          
             * {
                  box-sizing: border-box;
            }

            .bg-image {
              /* Full height */
              height: 100%; 
  
              /* Center and scale the image nicely */
                  background-attachment: fixed;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
            }   

                /* Images used */
                    .img1 { background-image: url("{%static 'webstory44/aestheticbackground.jpg'%}"); }
 
                .bg-text {
                  background-color: rgb(0,0,0); 
                  background-color: rgba(0,0,0, 0.4); 
                  color: white;
                  font-weight: bold;
                  font-size: 50px;
                  border: 10px solid #f1f1f1;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 2;
                  width: 750px;
                  padding: 20px;
                  text-align: center;
                }
                .biotext {
                  background-color: rgb(0,0,0); 
                  background-color: rgba(0,0,0, 0.4); 
                  color: white;
                  font-weight: bold;
                  font-size: 50px;
                  border: 10px solid #f1f1f1;
                  position: absolute;
                  top: 115%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 2;
                  width: 350px;
                  padding: 5px;
                  text-align: center;
                }
                .contenttext {
                  background-color: rgb(0,0,0); 
                  background-color: rgba(0,0,0, 0.4); 
                  color: white;
                  font-size: 25px;
                  font-family: Futura;
                  border: 10px solid #f1f1f1;
                  position: absolute;
                  top: 160%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 2;
                  width: 1050px;
                  padding: 35px;
                  text-align: center;
                }
                img {
                border-radius:50%;
                }
                .button {
                 border-radius: 4px;
                 background-color: Transparent;
                 border: none;
                 color: #FFFFFF;
                 text-align: center;
                 font-family: uni_sansthin_caps;
                 font-size: 40px;
                 padding: 0px;
                 width: 200px;
                 transition: all 0.5s;
                 cursor: pointer;
                 margin: 5px;
                }
            
                .button span {
                 cursor: pointer;
                 display: inline-block;
                 position: relative;
                 transition: 0.5s;
                }
            
                .button span:after {
                 content: '\00bb';
                 position: absolute;
                 opacity: 0;
                 top: 0;
                 right: -20px;
                 transition: 0.5s;
                }
            
                .button:hover span {
                 padding-right: 25px;
                }
            
                .button:hover span:after {
                 opacity: 1;
                 right: 0;
                }
        </style>
    </head>
    
        <body>
            <homeprofile><a href="profile.html"><button class="button"><span>PROFILE </span></button></a></homeprofile>
            <homemessage><a href="message.html"><button class="button"><span>MESSAGE </span></button></a></homemessage>
            <homeaddfriends><a href="add.html"><button class="button"><span>ADD FRIENDS</span></button></a></homeaddfriends>
            <homeseefriends><a href="see.html"><button class="button"><span>SEE FRIENDS</span></button></a></homeseefriends>
            <homecontact><a href="contacts.html"><button class="button"><span>CONTACT </span></button></a></homecontact>
            <homecredits><button class="button" data-toggle="modal" data-target="#exampleModal"><span>CREDITS </span></button></homecredits>
            <div class="bg-image img1"> </div>
            <div class="bg-text">Welcome to my profile!</div>
            
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Credits</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <b>Main Designer:</b><br>Johanes Steven<br><br>
                    <b>Resources Used:</b><br>
                    Bootstrap, w3schools, CSS, javascript, Figma, Wireframe<br><br>
                    <b>Fonts Used:</b><br>
                    Uni Sans, Oxygen, Rubik, K2D<br><br>
                    
                    <b><br><br><br><br>All images are taken from Google Image Search.
                    
                    
                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            
            
            
        </body>
</html>

       
        