{% load static %}
<html>
    <head>
        <title>MESSAGE ME - JOHANESSTEVEN</title>
         <meta name="viewport" content="width=device-width", initial-scale=1">
         <link rel="stylesheet" href="{%static 'webstory44/styles.css'%}">
         <style>
         input[type=submit] {
          width: 150%;
          background-color: #F9CC8A;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type=submit]:hover {
          background-color: #F8A830;
        }
        </style>
    </head>
    <body>
        <messagebg></messagebg>
        <backhome><a href="index.html"><button class="button2"><span>Back to Home </span></button></a></backhome>
        <messagetitle><b>HAVE A QUESTION?</b></messagetitle>
        <messagebody>The easiest way to reach me.</messagebody>
        <messagebox><textarea rows="20" cols="72" dirname="messages.dir" placeholder="Send me a message here..." style="background-color: transparent; font-size:20px;"></textarea></messagebox>
        <messagesubmit><input type="submit" value="Submit"></messagesubmit>