{% load static %}
<html>
    <head>
        <title>PROFILE - JOHANESSTEVEN</title>
         <meta name="viewport" content="width=device-width", initial-scale=1">
         <link rel="stylesheet" href="{%static 'webstory44/styles.css'%}">
    </head>
    <body>
        <profilebg></profilebg>
        <backhome><a href="index.html"><button class="button2"><span>Back to Home </span></button></a></backhome>
            <profilepic><img src="{%static 'webstory44/profilepic.png'%}" width="350" height="440"></profilepic>
                <profileh1>Basic Biography</profileh1>
                <profileh2>University Student</profileh2>
                    <profilebody1>Born under the name of Johanes Steven in the 19th of October 2001, he started his education in Kemurnian III all the way from kindergarten to the end of primary school. He then continued his education in Santa Laurensia Junior High School to the senior high school level. He then chose to pursue higher education at Universitas Indonesia, majoring in Computer Science.<br><br> As a child, he has always had a passion for computers, whether for games or for work. Owing to this fact, he then decided to pursue further education in Computer Science at one of the most prestigious universities in Indonesia. He is currently starting the 2nd semester of his studies.</profilebody1>
                        <profiletimeline><b>Timeline - </b></profiletimeline>
                        <profiletimeobj><img src="{%static 'webstory44/timelineobj.png'%}" width="70" height="621"></profiletimeobj>
                <profilebirth>2001 - Born in Jakarta</profilebirth>
                <profileprimary>2007 - Beginning Education at Kemurnian III Primary School</profileprimary>
                <profilejunior>2013 - Graduating from Primary School and starting Junior High at St. Laurensia</profilejunior>
                <profilesenior>2016 - Graduating from Junior High and starting Senior High</profilesenior>
                <profileuni>2019 - Graduating from Senior High and start attending Universitas Indonesia</profileuni>
                <profileinfo><b>Information - </b></profileinfo>
        <profileleftrow><b>Full Name</b><br>Johanes Steven<br><br><b>Sex</b><br>Male<br><br><b>Date of Birth</b><br>19th of October 2001<br><br><b>Nationality</b><br>Indonesian<br><br><b>Hobbies</b><br>Reading and watching movies</profileleftrow>
        <profilerightrow><b>Personal Skills</b><br>Time management<br>Teamwork and coordination<br>Critical thinking</profilerightrow>
    </body>
</html>