{% load static %}
<html>
    <head>
        <title>SEE FRIEND - JOHANESSTEVEN</title>
         <meta name="viewport" content="width=device-width", initial-scale=1">
         <link rel="stylesheet" href="{%static 'webstory44/styles.css'%}">
    </head>
    <body>
         <messagetitle><b>NAME LIST</b></messagetitle>
          <messagebody>The people who have left their mark in history.</messagebody>
        <backhome><a href="index.html"><button class="button2"><span>Back to Home </span></button></a></backhome>
       <div class="row d-flex justify-content-center flex-lg-wrap friends-content">
 
        <table style="margin-left:auto;margin-right:auto;margin-top:20%;width:50%;">
            <tr>
                <th>Name</th>
                <th>Hobbies</th>
                <th>Favourite Foods/Drinks</th>
                <th>Class Year</th>
            </tr>
            {% for friend in listname %}
            <tr>
                <td align="center">{{friend.name}}</td>
                <td align="center">{{friend.hobby}}</td>
                <td align="center">{{friend.fav}}</td>
                <td align="center">{{friend.classyear}}</td>
            </tr>
            {% endfor %}
        </table>
            
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </body>
</html>